.container {
	width: 40%;
	margin-left: 30%;
	font-family: 'Lato', sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	margin-bottom: 7px;
	font-size: 20px;
}

ul {
	margin-top: 0;
}

a {
	display: block;
	text-decoration: none;
	line-height: 24px;
}

a:hover {
	text-decoration: underline;
}

pre {
	line-height: 150%;
}